@charset "utf-8";
/* CSS Document */

.jumbotron{
	margin:20px auto;
	padding:20px;
	text-align:center;
}

.table{
	margin-bottom:20px;
}

.form-control{
	margin-bottom:4px;
}

.selected{
	background-color:rgba(0,102,153,.5);
}

.table img{
	position:relative;
	display:inline-table;
	margin:4px;
	cursor:pointer;
}

tr.header{
	background:rgba(255,255,255,.5);
}

th{
	text-align:center;
}

th.endereco{
	min-width:200px;
}

th.acoes{
	min-width:100px;
}

.alert{
	display:none;
}